version: '3.8'

services:
    # PostgreSQL
    postgres:
        container_name: card-words-postgres
        image: postgres:16-alpine
        env_file:
            - .env
        environment:
            - POSTGRES_USER=${POSTGRES_USER}
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
            - POSTGRES_DB=${POSTGRES_DB}
        ports:
            - '5433:5432'
        volumes:
            - postgres_data:/var/lib/postgresql/data
        networks:
            - card-words-network
        healthcheck:
            test: ['CMD-SHELL', 'pg_isready -U postgres']
            interval: 10s
            timeout: 5s
            retries: 5
        restart: unless-stopped

    pgadmin:
        container_name: card-words-pgadmin
        image: dpage/pgadmin4:latest
        env_file:
            - .env
        environment:
            - PGADMIN_DEFAULT_EMAIL=${PGADMIN_DEFAULT_EMAIL}
            - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_DEFAULT_PASSWORD}
        ports:
            - '${PGADMIN_PORT}:80'
        volumes:
            - pgadmin_data:/root/.pgadmin
        depends_on:
            postgres:
                condition: service_healthy
        networks:
            - card-words-network
        restart: unless-stopped

    # Redis
    redis:
        image: redis:7-alpine
        container_name: card-words-redis
        ports:
            - '6379:6379'
        volumes:
            - redis_data:/data
        networks:
            - card-words-network
        healthcheck:
            test: ['CMD', 'redis-cli', 'ping']
            interval: 10s
            timeout: 3s
            retries: 5
        command: redis-server --appendonly yes

    # Redis Insight - Redis GUI
    redisinsight:
        image: redis/redisinsight:latest
        container_name: card-words-redisinsight
        ports:
            - '5540:5540'
        volumes:
            - redisinsight_data:/data
        depends_on:
            - redis
        networks:
            - card-words-network
        restart: unless-stopped

    # Spring Boot Application
    app:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: card-words-app
        env_file:
            - .env
        ports:
            - '8080:8080'
        depends_on:
            postgres:
                condition: service_healthy
            redis:
                condition: service_healthy
        networks:
            - card-words-network
        restart: unless-stopped

volumes:
    postgres_data:
        driver: local
    pgadmin_data:
        driver: local
    redis_data:
        driver: local
    redisinsight_data:
        driver: local

networks:
    card-words-network:
        driver: bridge
