server:
    address: 0.0.0.0
    port: ${SERVER_PORT}

spring:
    application:
        name: card-words

    datasource:
        url: jdbc:postgresql://${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
        username: ${POSTGRES_USER}
        password: ${POSTGRES_PASSWORD}
        driver-class-name: org.postgresql.Driver

    # Flyway Configuration
    flyway:
        enabled: false
        baseline-on-migrate: true
        validate-on-migrate: false
        locations: classpath:db/migration

    jpa:
        hibernate:
            ddl-auto: validate
        show-sql: false
        properties:
            hibernate:
                dialect: org.hibernate.dialect.PostgreSQLDialect
                format_sql: true
                use_sql_comments: true
        open-in-view: false

    data:
        redis:
            host: ${REDIS_HOST}
            port: ${REDIS_PORT}
            password: ${REDIS_PASSWORD}
            timeout: ${REDIS_TIMEOUT}
            database: ${REDIS_DB}
            lettuce:
                pool:
                    max-active: 8
                    max-idle: 8
                    min-idle: 2
                    max-wait: -1ms
                shutdown-timeout: 100ms

    cache:
        type: redis
        redis:
            time-to-live: 3600000 # 1 gi·ªù (1 * 60 * 60 * 1000ms)

    mail:
        host: ${MAIL_HOST:smtp.gmail.com}
        port: ${MAIL_PORT:587}
        username: ${MAIL_USERNAME}
        password: ${MAIL_PASSWORD}
        properties:
            mail:
                smtp:
                    auth: true
                    starttls:
                        enable: true
                    ssl:
                        trust: smtp.gmail.com
                    connectiontimeout: 60000
                    timeout: 10000
                    writetimeout: 10000

springdoc:
    api-docs:
        enabled: true
    swagger-ui:
        enabled: true

# JWT Configuration
jwt:
    secret-key: ${JWT_SECRET}
    expiration: ${JWT_EXPIRATION_TIME}
    refresh-token:
        expiration: ${JWT_REFRESH_TOKEN_EXPIRATION}

activation:
    expired-time: ${ACTIVATION_EXPIRED_TIME}
    resend-interval: ${ACTIVATION_RESEND_INTERVAL}

google:
    oauth2:
        client-id: ${GOOGLE_OAUTH_CLIENT_ID}
        client-secret: ${GOOGLE_OAUTH_CLIENT_SECRET}
        redirect-uri: ${GOOGLE_OAUTH_REDIRECT_URI}

# Firebase Configuration
firebase:
    storage:
        bucket-name: ${FIREBASE_STORAGE_BUCKET}
        service-account-path: ${FIREBASE_SERVICE_ACCOUNT_PATH:classpath}

# Gemini AI Configuration
gemini:
    api:
        key: ${GEMINI_API_KEY}
        model: gemini-2.5-flash
        base-url: https://generativelanguage.googleapis.com/v1beta/models
        max-tokens: 8192
        temperature: 0.7

logging:
    level:
        org:
            springframework:
                security: trace
        com:
            thuanthichlaptrinh: debug

http:
    request-logging-filter:
        enabled: true
        include-payload: true
